<body>
  <div class="wrapper position-relative overflow-hidden">
    <!-- Top content -->
    <div class="container">
      <div class="logo_area pt-5">
        <a href="index.html">
          <img src="./assets/images/logo/logo.png" alt="image-not-found">
        </a>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div class="container">
      <div class="multisteps_form_panel" style="display:block">
        <div class="content_box shadow text-center bg-white d-flex py-5 position-relative">
          <div class="form_timer d-flex flex-column rounded-pill position-absolute countdown_timer"
            data-countdown="2022/10/24">
          </div>
          <div class="question_title p-2">
            <h1>Cast your votes</h1>
          </div>
        </div>
        <div class="row mt-5">
          <div class="left_side_img d-none d-md-block col-md-4">
          </div>
          <div class="col-md-4">
            <div class="form_items overflow-hidden">
              <ul class="list-unstyled text-center p-0">
                <li>
                  <label
                    class="step_1 position-relative bg-white shadow animate__animated animate__fadeInRight animate_50ms active"
                    for="opt_1">A
                    <input type="radio" id="opt_1" name="stp_1_select_option" value="Dell" checked>
                  </label>
                </li>
                <li>
                  <label
                    class="step_1 position-relative bg-white shadow animate__animated animate__fadeInRight animate_100ms"
                    for="opt_2">B
                    <input type="radio" id="opt_2" name="stp_1_select_option" value="Apple">
                  </label>
                </li>
                <li>
                  <label
                    class="step_1 position-relative bg-white shadow animate__animated animate__fadeInRight animate_150ms"
                    for="opt_3">C
                    <input type="radio" id="opt_3" name="stp_1_select_option" value="Microsoft">
                  </label>
                </li>
                <li>
                  <label
                    class="step_1 position-relative bg-white shadow animate__animated animate__fadeInRight animate_200ms"
                    for="opt_4">D
                    <input type="radio" id="opt_4" name="stp_1_select_option" value="IBM">
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
