<div class="wrapper position-relative overflow-hidden">
  <!-- Top content -->
  <div class="container">
    <div class="logo_area pt-5">
      <a href="index.html">
        <img src="./assets/images/logo/logo.png" alt="image-not-found">
      </a>
    </div>
  </div>
  <!-- / Top content -->
  <div class="container">
    <!-- Start screen -->
    <div class="startScreen" *ngIf="gameState.state === GameStatus['waiting-for-teams']">
      <div class="row">
        <div *ngFor="let team of gameState.teams" class="col-md-3">
          <ng-lottie [options]="{ path: 'https://assets1.lottiefiles.com/packages/lf20_owZtTMeTAk.json', loop: true, autoplay: true }"></ng-lottie>
          <div *ngIf="team.ready === true"> <img class="readyIcon" [src]="'./assets/images/teams/' + team.icon"/> </div>
        </div>
      </div>
    </div>
    <!-- / Start screen -->
    <!-- Question holder -->
    <div class="multisteps_form_panel" *ngIf="gameState.state === GameStatus.playing && gameState.currentQuestion && gameState.currentQuestion.hidden !== true" @fadeIn @fadeOut>
      <div class="content_box shadow text-center bg-white d-flex py-5 position-relative">
        <!-- Countdown timer -->
        <div class="form_timer d-flex flex-column rounded-pill position-absolute countdown_timer">
          <img src="./assets/images/clock/clock.png" alt="image-not-found">
          <span class="text-white"> {{ visualTimer$ | async }} </span>
        </div>
        <!-- / Countdown timer -->
        <!-- Question title -->
        <div class="question_title p-2">
          <h1>{{ gameState.currentQuestion.text }}</h1>
        </div>
        <!-- / Question title -->
      </div>
      <!-- Question Options -->
      <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
          <div class="form_items overflow-hidden">
            <ul class="list-unstyled text-center p-0">
              <li *ngFor="let option of gameState.currentQuestion.options; let i=index;">
                <label class="step_1 position-relative bg-white animate__animated animate__fadeInRight animate_50ms" [ngClass]="{ active: option.correct && gameState['question_state'] === 'answer-review-time' }"
                  for="opt_1"> {{ option.text }} 
                  <span class="voteIconsContainer" *ngIf="gameState['question_state'] === 'answer-review-time'">
                    <span *ngFor="let vote of option.votes">
                      <img class="voteIcon" [src]="'./assets/images/teams/' + vote.team.icon"/>
                    </span>
                  </span>
                  <span class="optionColor" [ngStyle]="{ 'background-color': getOptionColor(i) }"></span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- / Question Options -->
    </div>
    <!-- / Question holder -->
    <!-- Results page -->
    <div class="content_box results-container" *ngIf="gameState.state === GameStatus['results-page']">
      <h1> Resultados </h1>
      <ul class="list-group">
        <li *ngFor="let team of orderTeamsByScore(); let i=index;" class="list-group-item"> 
          {{ i + 1 }}. <img class="voteIcon" [src]="'./assets/images/teams/' + team.icon"/> {{ team.name }} - {{ team.score }} puntos
          <span *ngIf="i == 0">
            <ng-lottie id="winnerAnimation" [options]="{ path: 'https://assets2.lottiefiles.com/packages/lf20_8dyvN3biaE.json', loop: true, autoplay: true }"></ng-lottie>
          </span>
        </li>
      </ul>
      <div>
        <ng-lottie id="halloweenAnimation" [options]="{ path: 'https://assets8.lottiefiles.com/packages/lf20_zanwzjcy.json', loop: true, autoplay: true }"></ng-lottie>
      </div>
    </div>
    <!-- / Results page -->
  </div>
  <!-- General markers -->
  <div class="globalmarkers" *ngIf="gameState.state === GameStatus.playing">
    <h2> Votos pendientes </h2>
    <div *ngFor="let team of gameState.teams;" class="teamAnwseredMarker" [ngClass]="{ pending: !hasTeamAnsweredCurrentQuestion(team) }"> 
      <i class="fa fa-question-circle" aria-hidden="true"></i> 
      <ng-lottie class="teamAnsweredAnimation" (animationCreated)="teamAnsweredAnimationCreated($event, team.name)" [options]="lottieOptions" width="200px" height="200px"></ng-lottie>
    </div>
  </div>
</div>
